In [1]:
import pandas as pd

In [5]:
pd.read_csv('./cdr_py/cdr_Air-Arabia-Cluster_01_202208170618_2705164')

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191338,33460190,1660717043,1,33460190,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750438,2034,NaN
2,1,1,9191345,33460202,1660717080,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN
3,1,1,9191346,33460205,1660717081,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN

In [4]:
pd.read_csv('./cdr_py/cdr_Air-Arabia-Cluster_01_202208170618_2705164')

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191338,33460190,1660717043,1,33460190,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750438,2034,NaN
2,1,1,9191345,33460202,1660717080,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN
3,1,1,9191346,33460205,1660717081,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN

In [7]:
# import modules
import os
import pandas as pd
 
# assign path
path, dirs, files = next(os.walk("./cdr_py/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    temp_df = pd.read_csv("./cdr_py/"+files[i])
    dataframes_list.append(temp_df)
     
# display datasets
for dataset in dataframes_list:
    display(dataset)

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191335,33460188,1660716994,1,33460188,1930872842,10509909349,NaN,...,NaN,NaN,NaN,0,0,0,358,358,358,NaN
2,1,1,9191324,33460174,1660716858,1,33460174,1930872842,10545191544,NaN,...,NaN,NaN,NaN,0,0,0,972,972,972,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191338,33460190,1660717043,1,33460190,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750438,2034,NaN
2,1,1,9191345,33460202,1660717080,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN
3,1,1,9191346,33460205,1660717081,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467709001,b00286467709001,b00286467709001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191348,33460208,1660717100,1,33460208,1930872842,1065141229,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
2,1,1,9191342,33460196,1660717071,1,33460196,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750432,2034,NaN
3,1,1,9191351,33460212,1660717129,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
4,1,1,9191352,33460215,1660717129,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
5,1,1,9191339,33460194,1660717053,1,33460194,1930872842,1065141288,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191358,33460218,1660717236,1,33460218,1930872842,10568180312,NaN,...,NaN,NaN,NaN,0,0,0,872,872,872,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191359,33460220,1660717238,1,33460220,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750440,2034,NaN
2,1,1,9191365,33460226,1660717305,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665743001,b0038665743001,b0038665743001,NaN
3,1,1,9191366,33460229,1660717306,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665743001,b0038665743001,b0038665743001,NaN
4,1,1,9191359,33460220,1660717305,1,33460220,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,3918,3918,750440,NaN
5,1,1,9191365,33460227,1660717306,3,0,1348945418,b0038665743001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
6,1,1,9191366,33460230,1660717306,3,0,1348945418,b0038665743001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191342,33460196,1660717129,1,33460196,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,3574,3574,750432,NaN
2,1,1,9191351,33460213,1660717129,2,0,377014282,b00286467577001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,1,9191352,33460216,1660717130,2,0,377014282,b00286467577001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,1,9191342,33460196,1660717129,1,33460196,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2037,750573,2037,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191377,33460236,1660717369,1,33460236,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2034,750435,2034,NaN
2,1,1,9191384,33460242,1660717436,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN
3,1,1,9191385,33460245,1660717436,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191398,33460248,1660717568,1,33460248,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN
2,1,1,9191399,33460250,1660717571,1,33460250,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191403,33460254,1660717634,1,33460254,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,852,852,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191405,33460256,1660717636,1,33460256,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,852,852,NaN
2,1,1,9191406,33460258,1660717639,1,33460258,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,852,852,NaN
3,1,1,9191401,33460252,1660717599,1,33460252,1930872842,10568687484,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
4,1,1,9191408,33460260,1660717641,1,33460260,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,852,852,NaN
5,1,1,9191409,33460262,1660717645,1,33460262,1930872842,10568687484,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
6,1,1,9191412,33460268,1660717667,1,33460268,1930872842,1065141140,NaN,...,NaN,NaN,NaN,0,0,0,200,750709,20506,NaN
7,1,1,9191413,33460273,1660717670,1,33460273,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,999,852,NaN
8,1,1,9191377,33460236,1660717436,1,33460236,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,3566,3566,750435,NaN
9,1,1,9191384,33460243,1660717436,2,0,913885194,b00286460281001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
10,1,1,9191385,33460246,1660717436,2,0,913885194,b00286460281001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191411,33460264,1660717663,1,33460264,1947650058,067435900,NaN,...,NaN,NaN,NaN,0,0,0,3040,750566,3040,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191412,33460268,1660717667,1,33460268,1930872842,1065141140,NaN,...,NaN,NaN,NaN,0,0,0,29002,29002,29002,29002
2,1,1,9191418,33460281,1660717713,1,33460281,1947650058,067435900,NaN,...,NaN,NaN,NaN,0,0,0,3040,750580,3040,NaN
3,1,1,9191424,33460289,1660717762,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460337001,b00286460337001,b00286460337001,NaN
4,1,1,9191425,33460292,1660717762,1,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460337001,b00286460337001,b00286460337001,NaN
5,1,1,9191338,33460190,1660717079,1,33460190,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,3501,3501,750438,NaN
6,1,1,9191345,33460203,1660717081,2,0,-1122580470,b00286467709001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
7,1,1,9191346,33460206,1660717081,2,0,-1122580470,b00286467709001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
8,1,1,9191420,33460285,1660717734,1,33460285,1930872842,10565501063,NaN,...,NaN,NaN,NaN,0,0,0,875,875,875,NaN
9,1,1,9191338,33460190,1660717079,1,33460190,-267399670,NaN,NaN,...,NaN,NaN,NaN,0,0,0,2037,750583,2037,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,1,9191418,33460281,1660717762,1,33460281,1947650058,067435900,NaN,...,NaN,NaN,NaN,0,0,0,204,204,750580,NaN
2,1,1,9191424,33460290,1660717762,2,0,1098434570,b00286460337001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,1,9191425,33460293,1660717762,2,0,1098434570,b00286460337001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,1,9191416,33460279,1660717699,1,33460279,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,761,761,761,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822721,39795947,1660716872,2,39795947,168473098,1545619997,NaN,...,NaN,NaN,NaN,0,0,0,2034,750435,2034,NaN
2,1,1,9191330,39796024,1660716938,2,0,0,750435,NaN,...,NaN,NaN,NaN,0,0,0,3156,3156,3156,NaN
3,1,2,13822623,39795518,1660716762,2,39795518,1930872842,10504728114,NaN,...,NaN,NaN,NaN,0,0,0,3922,3922,750074,NaN
4,1,2,13822671,39795714,1660716763,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
5,1,2,13822672,39795717,1660716763,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
6,1,2,13822739,39796032,1660716939,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
7,1,2,13822740,39796035,1660716939,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
8,1,2,13822737,39796018,1660716931,2,0,337168394,342,czelaya,...,NaN,NaN,NaN,0,0,0,943,1.05[02456789]XXXXXXX,943,NaN
9,1,2,13822669,39795707,1660716763,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
10,1,2,13822670,39795710,1660716763,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
11,1,2,13822387,39794422,1660716156,2,39794422,1930872842,10506943143,NaN,...,NaN,NaN,NaN,0,0,0,3566,3566,750015,NaN
12,1,2,13822404,39794511,1660716156,2,0,913885194,b00286460281001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
13,1,2,13822405,39794514,1660716156,2,0,913885194,b00286460281001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
14,1,2,13822666,39795681,1660716817,2,39795681,1930872842,10504336702,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,750028,NaN
15,1,2,13822695,39795816,1660716818,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
16,1,2,13822696,39795819,1660716818,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
17,1,2,13822728,39795975,1660716889,2,39795975,-60471798,0224303273,NaN,...,NaN,NaN,NaN,0,0,0,2033,75169,2033,NaN
18,1,2,13822736,39796015,1660716929,2,39796015,1930872842,10564540636,NaN,...,NaN,NaN,NaN,0,0,0,2030,750026,2030,NaN
19,1,1,9191331,39796086,1660716949,2,0,0,750026,NaN,...,NaN,NaN,NaN,0,0,0,3644,3644,3644,NaN
20,1,2,13822750,39796096,1660716951,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286457767001,b00286457767001,b00286457767001,NaN
21,1,2,13822751,39796102,1660716952,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286457767001,b00286457767001,b00286457767001,NaN
22,1,2,13822749,39796093,1660716951,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665750001,b0038665750001,b0038665750001,NaN
23,1,2,13822748,39796090,1660716950,2,0,-1172715510,931,NaN,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
24,1,2,13822752,39796106,1660716952,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665750001,b0038665750001,b0038665750001,NaN
25,1,2,13822731,39795991,1660716893,2,39795991,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,2029,750027,2029,NaN
26,1,1,9191332,39796099,1660716951,2,0,0,750027,NaN,...,NaN,NaN,NaN,0,0,0,3935,3935,3935,NaN
27,1,2,13822753,39796110,1660716953,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665756001,b0038665756001,b0038665756001,NaN
28,1,2,13822754,39796113,1660716954,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665756001,b0038665756001,b0038665756001,NaN
29,1,2,13822755,39796115,1660716954,2,0,-1172715510,931,NaN,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
30,1,2,13822745,39796079,1660716948,2,0,823707658,760,e1378,...,NaN,NaN,NaN,0,0,0,852,852,852,NaN
31,1,2,13822750,39796097,1660716952,2,0,1545193482,b00286457767001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
32,1,2,13822751,39796103,1660716952,2,0,1545193482,b00286457767001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
33,1,2,13822743,39796074,1660716948,2,0,1427687434,899,jtabarki,...,NaN,NaN,NaN,0,0,0,883,883,883,NaN
34,1,2,13822735,39796013,1660716924,2,0,421054474,785,NaN,...,NaN,NaN,NaN,0,0,0,775,775,775,NaN
35,1,2,13822744,39796076,1660716948,2,0,-367409142,889,NaN,...,NaN,NaN,NaN,0,0,0,903,903,903,NaN
36,1,2,13822742,39796060,1660716947,2,0,1736034314,267,badria.nassir,...,NaN,NaN,NaN,0,0,0,984,984,984,NaN
37,1,1,9191334,39796141,1660716968,2,0,0,750437,NaN,...,NaN,NaN,NaN,0,0,0,3102,3102,3102,NaN
38,1,2,13822732,39796004,1660716903,2,39796004,-60471798,01099850223,NaN,...,NaN,NaN,NaN,0,0,0,2033,75168,2033,NaN
39,1,1,9191333,39796139,1660716968,2,0,0,75168,NaN,...,NaN,NaN,NaN,0,0,0,3182,3182,3182,NaN
40,1,2,13822761,39796146,1660716970,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
41,1,2,13822762,39796149,1660716970,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
42,1,2,13822387,39794422,1660716156,2,39794422,1930872842,10506943143,NaN,...,NaN,NaN,NaN,0,0,0,2037,750557,2037,NaN
43,1,2,13822639,39795573,1660716760,2,39795573,-60471798,01095547438,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,75156,NaN
44,1,2,13822667,39795689,1660716761,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
45,1,2,13822668,39795692,1660716761,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
46,1,2,13822757,39796129,1660716960,2,0,1947846666,701,znaji,...,NaN,NaN,NaN,0,0,0,903,903,903,NaN
47,1,2,13822758,39796131,1660716960,2,0,1427687434,899,jtabarki,...,NaN,NaN,NaN,0,0,0,795,795,795,NaN
48,1,2,13822639,39795573,1660716760,2,39795573,-60471798,01095547438,NaN,...,NaN,NaN,NaN,0,0,0,2037,750558,2037,NaN
49,1,2,13822765,39796161,1660716982,2,39796161,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,2029,750069,2029,NaN
50,1,2,13822560,39795250,1660716593,2,39795250,1930872842,10507478963,NaN,...,NaN,NaN,NaN,0,0,0,3538,3538,750042,NaN
51,1,2,13822595,39795404,1660716594,2,0,175687690,b00286467597001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
52,1,2,13822596,39795407,1660716594,2,0,175687690,b00286467597001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
53,1,2,13822747,39796084,1660716950,2,0,276350986,347,mvucic,...,NaN,NaN,NaN,0,0,0,811,811,811,NaN
54,1,2,13822560,39795250,1660716593,2,39795250,1930872842,10507478963,NaN,...,NaN,NaN,NaN,0,0,0,2037,750556,2037,NaN
55,1,2,13822759,39796133,1660716961,2,0,-1944467446,750,NaN,...,NaN,NaN,NaN,0,0,0,875,875,875,NaN
56,1,2,13822470,39794829,1660716359,2,39794829,1930872842,10507930565,NaN,...,NaN,NaN,NaN,0,0,0,3599,3599,750055,NaN
57,1,2,13822492,39794938,1660716360,2,0,897107978,b00286467529001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
58,1,2,13822493,39794941,1660716360,2,0,897107978,b00286467529001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
59,1,2,13822763,39796152,1660716971,2,0,1736034314,267,badria.nassir,...,NaN,NaN,NaN,0,0,0,05[024526789]XXXXXXX,05[024526789]XXXXXXX,05[024526789]XXXXXXX,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822756,39796125,1660716960,2,39796125,-60471798,0224303273,NaN,...,NaN,NaN,NaN,0,0,0,2033,75167,2033,NaN
2,1,1,9191336,39796183,1660717004,2,0,0,75167,NaN,...,NaN,NaN,NaN,0,0,0,3561,3561,3561,NaN
3,1,2,13822771,39796202,1660717005,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
4,1,2,13822773,39796211,1660717005,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
5,1,2,13822734,39796011,1660716914,2,0,655935498,225,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
6,1,2,13822772,39796208,1660717005,2,0,538560522,910,shegde,...,NaN,NaN,NaN,0,0,0,833,833,833,NaN
7,1,2,13822688,39795783,1660716826,2,39795783,1930872842,10561269402,NaN,...,NaN,NaN,NaN,0,0,0,3562,3562,750025,NaN
8,1,2,13822702,39795847,1660716826,2,0,645449738,b00286467382001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
9,1,2,13822703,39795850,1660716827,2,0,645449738,b00286467382001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
10,1,2,13822777,39796227,1660717027,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
11,1,2,13822778,39796230,1660717027,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
12,1,2,13822776,39796222,1660717025,2,39796222,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,2029,750068,2029,NaN
13,1,2,13822774,39796217,1660717007,2,0,521783306,875,HangerOMR,...,NaN,NaN,NaN,0,0,0,750,750,750,NaN
14,1,2,13822724,39795955,1660716879,2,0,1047090442,2578,ltopchyan,...,NaN,NaN,NaN,0,0,0,964,964,964,NaN
15,1,2,13822725,39795968,1660716884,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
16,1,2,13822726,39795971,1660716884,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
17,1,2,13822628,39795536,1660716818,2,39795536,1930872842,10551898873,NaN,...,NaN,NaN,NaN,0,0,0,3597,3597,750031,NaN
18,1,2,13822697,39795823,1660716819,2,0,762890250,b00286467553001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
19,1,2,13822698,39795826,1660716819,2,0,762890250,b00286467553001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
20,1,2,13822628,39795536,1660716818,2,39795536,1930872842,10551898873,NaN,...,NaN,NaN,NaN,0,0,0,2037,750553,2037,NaN
21,1,2,13822719,39795940,1660716867,2,0,-1793472502,838,achakraborty,...,NaN,NaN,NaN,0,0,0,711,711,711,NaN
22,1,2,13822764,39796157,1660716981,2,39796157,-60471798,01064520819,NaN,...,NaN,NaN,NaN,0,0,0,2033,75166,2033,NaN
23,1,1,9191337,39796239,1660717042,2,0,0,75166,NaN,...,NaN,NaN,NaN,0,0,0,3596,3596,3596,NaN
24,1,2,13822780,39796242,1660717043,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467746001,b00286467746001,b00286467746001,NaN
25,1,2,13822781,39796245,1660717044,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467746001,b00286467746001,b00286467746001,NaN
26,1,2,13822769,39796180,1660717000,2,0,-233191414,752,nnabokikh,...,NaN,NaN,NaN,0,0,0,955,955,955,NaN
27,1,2,13822732,39796004,1660716969,2,39796004,-60471798,01099850223,NaN,...,NaN,NaN,NaN,0,0,0,3182,3182,75168,NaN
28,1,2,13822761,39796147,1660716970,2,0,209242122,b00286467444001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
29,1,2,13822762,39796150,1660716970,2,0,209242122,b00286467444001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
30,1,2,13822627,39795531,1660716725,2,39795531,1930872842,196879619116,NaN,...,NaN,NaN,NaN,0,0,0,3918,3918,750032,NaN
31,1,2,13822654,39795637,1660716726,3,0,1348945418,b0038665743001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
32,1,2,13822656,39795641,1660716727,3,0,1348945418,b0038665743001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822766,39796165,1660716984,2,39796165,1930872842,10503473463,NaN,...,NaN,NaN,NaN,0,0,0,2030,750001,2030,NaN
2,1,1,9191340,39796257,1660717057,2,0,0,750001,NaN,...,NaN,NaN,NaN,0,0,0,3211,3211,3211,NaN
3,1,2,13822784,39796260,1660717059,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467606001,b00286467606001,b00286467606001,NaN
4,1,2,13822785,39796263,1660717059,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467606001,b00286467606001,b00286467606001,NaN
5,1,2,13822770,39796191,1660717005,2,0,1696188426,732,NaN,...,NaN,NaN,NaN,0,0,0,997,997,997,NaN
6,1,2,13822786,39796266,1660717062,2,0,1696188426,732,NaN,...,NaN,NaN,NaN,0,0,0,795,795,795,NaN
7,1,2,13822775,39796220,1660717014,2,0,-1491482614,730,sreyan,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
8,1,2,13822768,39796177,1660716998,2,39796177,1930872842,1065107943,NaN,...,NaN,NaN,NaN,0,0,0,2030,750066,2030,NaN
9,1,1,9191341,39796300,1660717067,2,0,0,750066,NaN,...,NaN,NaN,NaN,0,0,0,3593,3593,3593,NaN
10,1,2,13822790,39796304,1660717069,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467618001,b00286467618001,b00286467618001,NaN
11,1,2,13822791,39796307,1660717069,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467618001,b00286467618001,b00286467618001,NaN
12,1,2,13822746,39796081,1660716949,2,39796081,1930872842,10097433733653,NaN,...,NaN,NaN,NaN,0,0,0,726,726,726,NaN
13,1,2,13822779,39796235,1660717037,2,39796235,1930872842,10507976099,NaN,...,NaN,NaN,NaN,0,0,0,2030,750067,2030,NaN
14,1,1,9191343,39796311,1660717073,2,0,0,750067,NaN,...,NaN,NaN,NaN,0,0,0,3586,3586,3586,NaN
15,1,2,13822793,39796316,1660717075,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
16,1,2,13822794,39796319,1660717075,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
17,1,1,9191344,39796326,1660717078,2,0,0,750438,NaN,...,NaN,NaN,NaN,0,0,0,3501,3501,3501,NaN
18,1,2,13822789,39796298,1660717067,2,0,-1491482614,730,sreyan,...,NaN,NaN,NaN,0,0,0,823,823,823,NaN
19,1,2,13822783,39796252,1660717048,2,39796252,-60471798,01205687207,NaN,...,NaN,NaN,NaN,0,0,0,2033,75151,2033,NaN
20,1,1,9191347,39796332,1660717082,2,0,0,75151,NaN,...,NaN,NaN,NaN,0,0,0,3523,3523,3523,NaN
21,1,2,13822787,39796280,1660717065,2,0,1696188426,732,NaN,...,NaN,NaN,NaN,0,0,0,798,798,798,NaN
22,1,2,13822797,39796335,1660717083,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467735001,b00286467735001,b00286467735001,NaN
23,1,2,13822798,39796338,1660717083,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467735001,b00286467735001,b00286467735001,NaN
24,1,2,13822741,39796049,1660716942,2,0,1668925450,913,spillay,...,NaN,NaN,NaN,0,0,0,381,381,381,NaN
25,1,2,13822801,39796353,1660717087,2,0,672778250,670,NaN,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
26,1,2,13822795,39796322,1660717077,2,39796322,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,2029,750064,2029,NaN
27,1,2,13822760,39796135,1660716967,2,0,-904280054,823,atahboub,...,NaN,NaN,NaN,0,0,0,832,1.05[02456789]XXXXXXX,832,NaN
28,1,2,13822792,39796313,1660717074,2,0,1847183370,953,bkanjani,...,NaN,NaN,NaN,0,0,0,263,263,263,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822705,39795862,1660716892,2,39795862,-2113248246,22675356,NaN,...,NaN,NaN,NaN,0,0,0,3600,3600,750439,NaN
2,1,2,13822729,39795986,1660716893,2,0,712558602,b00286467584001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,2,13822730,39795989,1660716893,2,0,712558602,b00286467584001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,2,13822736,39796015,1660716951,2,39796015,1930872842,10564540636,NaN,...,NaN,NaN,NaN,0,0,0,3644,3644,750026,NaN
5,1,2,13822749,39796094,1660716952,3,0,1265059338,b0038665750001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
6,1,2,13822752,39796107,1660716952,3,0,1265059338,b0038665750001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
7,1,2,13822310,39794022,1660715956,2,39794022,922855616,44220753,NaN,...,NaN,NaN,NaN,0,0,0,3944,3944,750439,NaN
8,1,2,13822676,39795731,1660716776,3,0,1114064394,b0038665784001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
9,1,2,13822677,39795734,1660716777,3,0,1114064394,b0038665784001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
10,1,2,13822782,39796248,1660717044,2,39796248,168473098,1543747413,NaN,...,NaN,NaN,NaN,0,0,0,2034,750431,2034,NaN
11,1,1,9191349,39796382,1660717127,2,0,0,750431,NaN,...,NaN,NaN,NaN,0,0,0,3922,3922,3922,NaN
12,1,2,13822768,39796177,1660717068,2,39796177,1930872842,1065107943,NaN,...,NaN,NaN,NaN,0,0,0,3593,3593,750066,NaN
13,1,2,13822790,39796305,1660717069,2,0,796444682,b00286467618001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
14,1,2,13822791,39796308,1660717069,2,0,796444682,b00286467618001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
15,1,2,13822809,39796391,1660717129,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
16,1,1,9191350,39796384,1660717128,2,0,0,750432,NaN,...,NaN,NaN,NaN,0,0,0,3574,3574,3574,NaN
17,1,2,13822810,39796394,1660717129,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
18,1,2,13822768,39796177,1660717068,2,39796177,1930872842,1065107943,NaN,...,NaN,NaN,NaN,0,0,0,2037,750554,2037,NaN
19,1,2,13822788,39796289,1660717065,2,39796289,1930872842,10585454388,NaN,...,NaN,NaN,NaN,0,0,0,2030,750009,2030,NaN
20,1,1,9191353,39796401,1660717133,2,0,0,750009,NaN,...,NaN,NaN,NaN,0,0,0,3566,3566,3566,NaN
21,1,2,13822812,39796407,1660717134,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN
22,1,2,13822813,39796410,1660717134,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN
23,1,2,13822800,39796350,1660717086,2,39796350,1930872842,10507513816,NaN,...,NaN,NaN,NaN,0,0,0,2030,750065,2030,NaN
24,1,1,9191354,39796404,1660717133,2,0,0,750065,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,3570,NaN
25,1,2,13822814,39796414,1660717135,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467600001,b00286467600001,b00286467600001,NaN
26,1,2,13822815,39796417,1660717135,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467600001,b00286467600001,b00286467600001,NaN
27,1,2,13822804,39796362,1660717100,2,39796362,1930872842,10551112305,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
28,1,2,13822796,39796328,1660717081,2,39796328,1930872842,10554573369,NaN,...,NaN,NaN,NaN,0,0,0,2030,750008,2030,NaN
29,1,2,13822802,39796356,1660717092,2,39796356,922855616,44052251,NaN,...,NaN,NaN,NaN,0,0,0,2042,750433,2042,NaN
30,1,1,9191355,39796424,1660717159,2,0,0,750433,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,3564,NaN
31,1,2,13822817,39796427,1660717160,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
32,1,2,13822818,39796430,1660717160,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
33,1,2,13822809,39796392,1660717129,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
34,1,2,13822810,39796395,1660717129,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
35,1,2,13822731,39795991,1660716953,2,39795991,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,3935,3935,750027,NaN
36,1,2,13822753,39796111,1660716954,3,0,1197950474,b0038665756001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
37,1,2,13822754,39796114,1660716954,3,0,1197950474,b0038665756001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822811,39796397,1660717131,2,39796397,1930872842,10502468247,NaN,...,NaN,NaN,NaN,0,0,0,2030,750007,2030,NaN
2,1,1,9191356,39796438,1660717183,2,0,0,750007,NaN,...,NaN,NaN,NaN,0,0,0,3538,3538,3538,NaN
3,1,2,13822820,39796443,1660717184,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
4,1,2,13822821,39796446,1660717184,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
5,1,2,13822767,39796175,1660716997,2,0,-568735734,904,styagi,...,NaN,NaN,NaN,0,0,0,929,929,929,NaN
6,1,2,13822822,39796450,1660717188,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
7,1,2,13822823,39796453,1660717189,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
8,1,2,13822824,39796456,1660717190,2,0,1282983946,881,mrashid,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
9,1,2,13822731,39795991,1660716953,2,39795991,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,2037,750559,2037,NaN
10,1,2,13822700,39795838,1660716826,2,0,-1300641782,384,vmathi,...,NaN,NaN,NaN,0,0,0,844,999,844,NaN
11,1,2,13822819,39796440,1660717183,2,0,-535181302,803,adelali,...,NaN,NaN,NaN,0,0,0,802,802,802,NaN
12,1,2,13822816,39796420,1660717153,2,39796420,1930872842,10554573369,NaN,...,NaN,NaN,NaN,0,0,0,2030,750062,2030,NaN
13,1,1,9191357,39796472,1660717198,2,0,0,750062,NaN,...,NaN,NaN,NaN,0,0,0,3599,3599,3599,NaN
14,1,2,13822830,39796478,1660717199,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467529001,b00286467529001,b00286467529001,NaN
15,1,2,13822833,39796485,1660717200,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467529001,b00286467529001,b00286467529001,NaN
16,1,2,13822834,39796489,1660717201,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466098001,b0022466098001,b0022466098001,NaN
17,1,2,13822835,39796492,1660717201,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466098001,b0022466098001,b0022466098001,NaN
18,1,2,13822808,39796388,1660717128,2,0,169396234,711,ralphonse,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
19,1,2,13822828,39796469,1660717196,2,0,1327089674,834,anvijayan,...,NaN,NaN,NaN,0,0,0,100XXXXXXXXXXXX,750829,100XXXXXXXXXXXX,NaN
20,1,2,13822800,39796350,1660717135,2,39796350,1930872842,10507513816,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,750065,NaN
21,1,2,13822814,39796415,1660717135,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
22,1,2,13822815,39796418,1660717136,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
23,1,2,13822783,39796252,1660717083,2,39796252,-60471798,01205687207,NaN,...,NaN,NaN,NaN,0,0,0,3523,3523,75151,NaN
24,1,2,13822797,39796336,1660717083,2,0,779667466,b00286467735001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
25,1,2,13822798,39796339,1660717083,2,0,779667466,b00286467735001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
26,1,2,13822805,39796370,1660717102,2,0,-904280054,823,atahboub,...,NaN,NaN,NaN,0,0,0,730,730,730,NaN
27,1,2,13822829,39796474,1660717198,2,39796474,1930872842,10568119642,NaN,...,NaN,NaN,NaN,0,0,0,991,991,991,NaN
28,1,2,13822834,39796490,1660717201,2,39796475,-1424373750,b0022466098001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
29,1,2,13822835,39796493,1660717201,2,39796475,-1424373750,b0022466098001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822831,39796480,1660717199,2,0,-1122580470,832,abhatti,...,NaN,NaN,NaN,0,0,0,844,844,844,NaN
2,1,2,13822832,39796482,1660717199,2,0,-233191414,752,nnabokikh,...,NaN,NaN,NaN,0,0,0,518,518,518,NaN
3,1,2,13822838,39796511,1660717225,2,0,521783306,875,HangerOMR,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
4,1,2,13822802,39796356,1660717160,2,39796356,922855616,44052251,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,750433,NaN
5,1,2,13822817,39796428,1660717160,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
6,1,2,13822818,39796431,1660717160,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
7,1,2,13822826,39796463,1660717194,2,0,1282983946,881,mrashid,...,NaN,NaN,NaN,0,0,0,#.0[2-9]XXXXXXX,#.0[2-9]XXXXXXX,#.0[2-9]XXXXXXX,NaN
8,1,2,13822827,39796464,1660717194,2,39796464,168473098,100966503565944,NaN,...,NaN,NaN,NaN,0,0,0,2034,750434,2034,NaN
9,1,1,9191360,39796536,1660717253,2,0,0,750434,NaN,...,NaN,NaN,NaN,0,0,0,3556,3556,3556,NaN
10,1,2,13822847,39796539,1660717254,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466181001,b0022466181001,b0022466181001,NaN
11,1,2,13822848,39796542,1660717254,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466181001,b0022466181001,b0022466181001,NaN
12,1,2,13822841,39796518,1660717228,2,0,1478019082,731,HangerOMR,...,NaN,NaN,NaN,0,0,0,894,999,894,NaN
13,1,2,13822825,39796459,1660717194,2,0,-2061907958,775,C-Check,...,NaN,NaN,NaN,0,0,0,785,1.05[02456789]XXXXXXX,785,NaN
14,1,2,13822647,39795603,1660716762,2,39795603,1930872842,1045684460,NaN,...,NaN,NaN,NaN,0,0,0,3550,3550,750033,NaN
15,1,2,13822777,39796228,1660717027,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
16,1,2,13822778,39796231,1660717027,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
17,1,2,13822372,39794325,1660716142,2,39794325,1930872842,10503967888,NaN,...,NaN,NaN,NaN,0,0,0,3513,3513,750061,NaN
18,1,2,13822400,39794488,1660716143,2,0,980994058,b00286467580001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
19,1,2,13822401,39794496,1660716143,2,0,980994058,b00286467580001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
20,1,2,13822836,39796495,1660717202,2,39796495,1930872842,1042561334,NaN,...,NaN,NaN,NaN,0,0,0,2030,750006,2030,NaN
21,1,1,9191361,39796548,1660717262,2,0,0,750006,NaN,...,NaN,NaN,NaN,0,0,0,3597,3597,3597,NaN
22,1,2,13822851,39796555,1660717264,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467553001,b00286467553001,b00286467553001,NaN
23,1,2,13822852,39796561,1660717264,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467553001,b00286467553001,b00286467553001,NaN
24,1,2,13822843,39796524,1660717238,2,0,169396234,711,ralphonse,...,NaN,NaN,NaN,0,0,0,750,750,750,NaN
25,1,2,13822837,39796506,1660717222,2,39796506,1930872842,10503666877,NaN,...,NaN,NaN,NaN,0,0,0,2030,750004,2030,NaN
26,1,1,9191362,39796558,1660717264,2,0,0,750004,NaN,...,NaN,NaN,NaN,0,0,0,3598,3598,3598,NaN
27,1,2,13822856,39796573,1660717265,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467480001,b00286467480001,b00286467480001,NaN
28,1,2,13822857,39796576,1660717266,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467480001,b00286467480001,b00286467480001,NaN
29,1,2,13822859,39796583,1660717266,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467458001,b00286467458001,b00286467458001,NaN
30,1,2,13822858,39796580,1660717266,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467452001,b00286467452001,b00286467452001,NaN
31,1,2,13822860,39796586,1660717267,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467458001,b00286467458001,b00286467458001,NaN
32,1,2,13822861,39796589,1660717267,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467452001,b00286467452001,b00286467452001,NaN
33,1,2,13822840,39796515,1660717227,2,39796515,1930872842,10503759964,NaN,...,NaN,NaN,NaN,0,0,0,2030,750060,2030,NaN
34,1,1,9191363,39796594,1660717269,2,0,0,750060,NaN,...,NaN,NaN,NaN,0,0,0,3182,3182,3182,NaN
35,1,2,13822863,39796601,1660717270,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
36,1,2,13822864,39796604,1660717270,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
37,1,2,13822782,39796248,1660717128,2,39796248,168473098,1543747413,NaN,...,NaN,NaN,NaN,0,0,0,3922,3922,750431,NaN
38,1,2,13822822,39796451,1660717189,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
39,1,2,13822823,39796454,1660717189,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
40,1,2,13822844,39796527,1660717240,2,0,-367409142,889,NaN,...,NaN,NaN,NaN,0,0,0,822,822,822,NaN
41,1,2,13822842,39796521,1660717234,2,39796521,1930872842,10525888881,NaN,...,NaN,NaN,NaN,0,0,0,2030,750005,2030,NaN
42,1,2,13822855,39796570,1660717265,2,0,1215875082,860,melgali,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
43,1,2,13822839,39796513,1660717226,2,0,756664330,259,ftariq,...,NaN,NaN,NaN,0,0,0,856,856,856,NaN
44,1,2,13822828,39796469,1660717196,2,0,1327089674,834,anvijayan,...,NaN,NaN,NaN,0,0,0,21.00!#,21.00!#,21.00!#,NaN
45,1,2,13822756,39796125,1660717005,2,39796125,-60471798,0224303273,NaN,...,NaN,NaN,NaN,0,0,0,3561,3561,75167,NaN
46,1,2,13822771,39796203,1660717005,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
47,1,2,13822773,39796212,1660717005,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
48,1,2,13822866,39796616,1660717274,2,0,-1273378806,721,NaN,...,NaN,NaN,NaN,0,0,0,823,823,823,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822766,39796165,1660717058,2,39796165,1930872842,10503473463,NaN,...,NaN,NaN,NaN,0,0,0,3211,3211,750001,NaN
2,1,2,13822784,39796261,1660717059,2,0,528009226,b00286467606001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,2,13822785,39796264,1660717059,2,0,528009226,b00286467606001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,2,13822872,39796639,1660717298,2,39796639,-60471798,0224303273,NaN,...,NaN,NaN,NaN,0,0,0,2033,75150,2033,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,1,2,13822909,39796793,1660717355,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286461114001,b00286461114001,b00286461114001,NaN
61,1,2,13822869,39796624,1660717284,2,39796624,1930872842,10559446618,NaN,...,NaN,NaN,NaN,0,0,0,2030,750020,2030,NaN
62,1,1,9191374,39796797,1660717355,2,0,0,750020,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,3564,NaN
63,1,2,13822911,39796802,1660717356,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
64,1,2,13822912,39796805,1660717357,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822887,39796703,1660717328,2,39796703,1930872842,10567600224,NaN,...,NaN,NaN,NaN,0,0,0,2030,750021,2030,NaN
2,1,1,9191375,39796809,1660717358,2,0,0,750021,NaN,...,NaN,NaN,NaN,0,0,0,3550,3550,3550,NaN
3,1,2,13822913,39796812,1660717360,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
4,1,2,13822914,39796815,1660717360,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1,2,13822793,39796317,1660717075,2,0,930662410,b00286467729001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
58,1,2,13822794,39796320,1660717076,2,0,930662410,b00286467729001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
59,1,2,13822816,39796420,1660717199,2,39796420,1930872842,10554573369,NaN,...,NaN,NaN,NaN,0,0,0,3599,3599,750062,NaN
60,1,2,13822830,39796479,1660717200,2,0,897107978,b00286467529001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
61,1,2,13822833,39796486,1660717200,2,0,897107978,b00286467529001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822806,39796377,1660717108,2,0,-770062326,358,jjohn,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
2,1,2,13822930,39796887,1660717401,2,0,1367987210,815,support,...,NaN,NaN,NaN,0,0,0,827,827,827,NaN
3,1,2,13822836,39796495,1660717263,2,39796495,1930872842,1042561334,NaN,...,NaN,NaN,NaN,0,0,0,3597,3597,750006,NaN
4,1,2,13822851,39796556,1660717264,2,0,762890250,b00286467553001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
5,1,2,13822852,39796562,1660717264,2,0,762890250,b00286467553001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
6,1,2,13822890,39796715,1660717332,2,0,1545193482,852,crewcontrol2,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
7,1,2,13822904,39796774,1660717352,2,0,1545193482,b00286457767001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
8,1,2,13822905,39796777,1660717352,2,0,1545193482,b00286457767001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
9,1,2,13822869,39796624,1660717356,2,39796624,1930872842,10559446618,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,750020,NaN
10,1,2,13822911,39796803,1660717357,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
11,1,2,13822912,39796806,1660717357,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
12,1,2,13822836,39796495,1660717263,2,39796495,1930872842,1042561334,NaN,...,NaN,NaN,NaN,0,0,0,2037,750568,2037,NaN
13,1,2,13822869,39796624,1660717356,2,39796624,1930872842,10559446618,NaN,...,NaN,NaN,NaN,0,0,0,2037,750567,2037,NaN
14,1,2,13822936,39796928,1660717423,2,0,857327626,801,shoumadi,...,NaN,NaN,NaN,0,0,0,889,889,889,NaN
15,1,1,9191383,39796944,1660717435,2,0,0,750435,NaN,...,NaN,NaN,NaN,0,0,0,3566,3566,3566,NaN
16,1,2,13822910,39796799,1660717356,2,0,1377421322,209,lmata,...,NaN,NaN,NaN,0,0,0,270,270,270,NaN
17,1,2,13822933,39796901,1660717418,2,39796901,1930872842,1092343003,NaN,...,NaN,NaN,NaN,0,0,0,2030,750011,2030,NaN
18,1,1,9191386,39796949,1660717442,2,0,0,750011,NaN,...,NaN,NaN,NaN,0,0,0,3156,3156,3156,NaN
19,1,2,13822940,39796952,1660717443,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
20,1,2,13822941,39796955,1660717443,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
21,1,2,13822921,39796845,1660717380,2,39796845,1930872842,10564162359,NaN,...,NaN,NaN,NaN,0,0,0,2030,750018,2030,NaN
22,1,1,9191387,39796959,1660717444,2,0,0,750018,NaN,...,NaN,NaN,NaN,0,0,0,3647,3647,3647,NaN
23,1,2,13822942,39796962,1660717446,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665788001,b0038665788001,b0038665788001,NaN
24,1,2,13822943,39796965,1660717446,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665788001,b0038665788001,b0038665788001,NaN
25,1,2,13822945,39796976,1660717456,2,39796976,1930872842,1043958259,NaN,...,NaN,NaN,NaN,0,0,0,2030,750057,2030,NaN
26,1,2,13822926,39796868,1660717395,2,39796868,1930872842,10569139726,NaN,...,NaN,NaN,NaN,0,0,0,2030,750012,2030,NaN
27,1,1,9191388,39796987,1660717465,2,0,0,750012,NaN,...,NaN,NaN,NaN,0,0,0,3538,3538,3538,NaN
28,1,2,13822948,39796990,1660717466,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
29,1,2,13822949,39796993,1660717466,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
30,1,2,13822901,39796757,1660717347,2,0,1327024138,263,relgamal,...,NaN,NaN,NaN,0,0,0,953,953,953,NaN
31,1,2,13822939,39796946,1660717437,2,0,1367987210,815,support,...,NaN,NaN,NaN,0,0,0,827,827,827,NaN
32,1,2,13822837,39796506,1660717265,2,39796506,1930872842,10503666877,NaN,...,NaN,NaN,NaN,0,0,0,3598,3598,750004,NaN
33,1,2,13822856,39796574,1660717266,2,0,259573770,b00286467480001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
34,1,2,13822857,39796577,1660717266,2,0,259573770,b00286467480001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
35,1,2,13822932,39796896,1660717404,2,0,1131989002,949,NaN,...,NaN,NaN,NaN,0,0,0,717,717,717,NaN
36,1,2,13822837,39796506,1660717265,2,39796506,1930872842,10503666877,NaN,...,NaN,NaN,NaN,0,0,0,2037,750569,2037,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822935,39796913,1660717420,2,39796913,1930872842,1065433429,NaN,...,NaN,NaN,NaN,0,0,0,2030,750014,2030,NaN
2,1,1,9191389,39797009,1660717478,2,0,0,750014,NaN,...,NaN,NaN,NaN,0,0,0,3574,3574,3574,NaN
3,1,2,13822953,39797012,1660717479,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
4,1,2,13822954,39797015,1660717479,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
5,1,2,13822944,39796973,1660717453,2,0,538494986,995,NaN,...,NaN,NaN,NaN,0,0,0,825,289,825,NaN
6,1,2,13822938,39796933,1660717424,2,39796933,1930872842,10542060838,NaN,...,NaN,NaN,NaN,0,0,0,360,395,360,NaN
7,1,2,13822937,39796930,1660717424,2,39796930,1930872842,10529488080,NaN,...,NaN,NaN,NaN,0,0,0,2030,750013,2030,NaN
8,1,1,9191391,39797032,1660717497,2,0,0,750013,NaN,...,NaN,NaN,NaN,0,0,0,3596,3596,3596,NaN
9,1,2,13822960,39797037,1660717498,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467746001,b00286467746001,b00286467746001,NaN
10,1,2,13822961,39797040,1660717499,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467746001,b00286467746001,b00286467746001,NaN
11,1,2,13822952,39797002,1660717472,2,0,1444464650,311,atahboub,...,NaN,NaN,NaN,0,0,0,929,929,929,NaN
12,1,2,13822950,39796996,1660717467,2,39796996,1930872842,10543408609,NaN,...,NaN,NaN,NaN,0,0,0,2030,750059,2030,NaN
13,1,1,9191392,39797044,1660717501,2,0,0,750059,NaN,...,NaN,NaN,NaN,0,0,0,3593,3593,3593,NaN
14,1,2,13822962,39797047,1660717503,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467618001,b00286467618001,b00286467618001,NaN
15,1,2,13822963,39797050,1660717503,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467618001,b00286467618001,b00286467618001,NaN
16,1,2,13822955,39797018,1660717487,2,39797018,1930872842,10506180282,NaN,...,NaN,NaN,NaN,0,0,0,2030,750054,2030,NaN
17,1,2,13822951,39796999,1660717470,2,39796999,1930872842,1043958259,NaN,...,NaN,NaN,NaN,0,0,0,2030,750010,2030,NaN
18,1,1,9191393,39797054,1660717504,2,0,0,750010,NaN,...,NaN,NaN,NaN,0,0,0,3586,3586,3586,NaN
19,1,2,13822965,39797063,1660717506,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467507001,b00286467507001,b00286467507001,NaN
20,1,2,13822964,39797060,1660717506,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
21,1,2,13822966,39797066,1660717506,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467507001,b00286467507001,b00286467507001,NaN
22,1,2,13822967,39797069,1660717506,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
23,1,2,13822946,39796979,1660717458,2,39796979,1930872842,1025554466,NaN,...,NaN,NaN,NaN,0,0,0,2030,750058,2030,NaN
24,1,1,9191394,39797057,1660717505,2,0,0,750058,NaN,...,NaN,NaN,NaN,0,0,0,3597,3597,3597,NaN
25,1,2,13822968,39797074,1660717507,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467553001,b00286467553001,b00286467553001,NaN
26,1,2,13822969,39797077,1660717507,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467553001,b00286467553001,b00286467553001,NaN
27,1,2,13822947,39796982,1660717464,2,39796982,-2113641462,01000682489,NaN,...,NaN,NaN,NaN,0,0,0,2033,75165,2033,NaN
28,1,1,9191395,39797086,1660717516,2,0,0,75165,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,3564,NaN
29,1,2,13822971,39797089,1660717517,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
30,1,2,13822972,39797092,1660717517,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
31,1,2,13822933,39796901,1660717443,2,39796901,1930872842,1092343003,NaN,...,NaN,NaN,NaN,0,0,0,3156,3156,750011,NaN
32,1,2,13822940,39796953,1660717443,2,0,326682634,b00286467397001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
33,1,2,13822941,39796956,1660717443,2,0,326682634,b00286467397001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
34,1,2,13822956,39797021,1660717488,2,0,1847183370,953,bkanjani,...,NaN,NaN,NaN,0,0,0,237,1.05[02456789]XXXXXXX,237,NaN
35,1,2,13822933,39796901,1660717443,2,39796901,1930872842,1092343003,NaN,...,NaN,NaN,NaN,0,0,0,2037,750564,2037,NaN
36,1,2,13822867,39796618,1660717327,2,39796618,1930872842,1065521362,NaN,...,NaN,NaN,NaN,0,0,0,3644,3644,750003,NaN
37,1,2,13822886,39796702,1660717328,3,0,1265059338,b0038665750001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
38,1,2,13822888,39796708,1660717328,3,0,1265059338,b0038665750001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
39,1,2,13822973,39797098,1660717521,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467781001,b00286467781001,b00286467781001,NaN
40,1,2,13822974,39797101,1660717521,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467781001,b00286467781001,b00286467781001,NaN
41,1,2,13822870,39796627,1660717336,2,39796627,1930872842,10525091440,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,750019,NaN
42,1,2,13822895,39796736,1660717337,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
43,1,2,13822897,39796742,1660717337,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
44,1,2,13822957,39797024,1660717488,2,39797024,1930872842,1065021554,NaN,...,NaN,NaN,NaN,0,0,0,2030,750051,2030,NaN
45,1,1,9191396,39797115,1660717531,2,0,0,750051,NaN,...,NaN,NaN,NaN,0,0,0,3399,3399,3399,NaN
46,1,2,13822978,39797118,1660717533,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467648001,b00286467648001,b00286467648001,NaN
47,1,2,13822979,39797121,1660717533,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467648001,b00286467648001,b00286467648001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822977,39797112,1660717528,2,39797112,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,845,845,845,NaN
2,1,2,13822959,39797034,1660717497,2,39797034,1930872842,1065141229,NaN,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
3,1,2,13822976,39797110,1660717527,2,0,1847183370,953,bkanjani,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
4,1,2,13822975,39797104,1660717521,2,0,1343801354,863,abhandari,...,NaN,NaN,NaN,0,0,0,955,955,955,NaN
5,1,2,13822970,39797080,1660717510,2,39797080,1930872842,1042512208,NaN,...,NaN,NaN,NaN,0,0,0,2030,750052,2030,NaN
6,1,1,9191397,39797166,1660717556,2,0,0,750052,NaN,...,NaN,NaN,NaN,0,0,0,3182,3182,3182,NaN
7,1,2,13822989,39797169,1660717558,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
8,1,2,13822982,39797141,1660717545,2,0,1763297290,966,szainal,...,NaN,NaN,NaN,0,0,0,905,905,905,NaN
9,1,2,13822990,39797172,1660717558,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467444001,b00286467444001,b00286467444001,NaN
10,1,2,13822983,39797144,1660717545,2,0,538494986,995,NaN,...,NaN,NaN,NaN,0,0,0,972,972,972,NaN
11,1,2,13822993,39797180,1660717568,2,39797180,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN
12,1,2,13822986,39797158,1660717552,2,39797158,1930872842,10507209605,NaN,...,NaN,NaN,NaN,0,0,0,938,938,938,NaN
13,1,2,13822994,39797182,1660717571,2,39797182,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN
14,1,2,13822985,39797156,1660717549,2,0,-367409142,889,NaN,...,NaN,NaN,NaN,0,0,0,228,228,228,NaN
15,1,2,13822981,39797127,1660717540,2,39797127,1930872842,1045867803,NaN,...,NaN,NaN,NaN,0,0,0,2030,750046,2030,NaN
16,1,2,13822996,39797187,1660717576,2,0,-904280054,823,atahboub,...,NaN,NaN,NaN,0,0,0,2579,2579,2579,NaN
17,1,2,13822919,39796840,1660717378,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
18,1,2,13822920,39796843,1660717378,2,0,1298613770,b00286467715001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
19,1,2,13822980,39797124,1660717538,2,39797124,1930872842,10502555012,NaN,...,NaN,NaN,NaN,0,0,0,2030,750050,2030,NaN
20,1,1,9191400,39797209,1660717587,2,0,0,750050,NaN,...,NaN,NaN,NaN,0,0,0,3598,3598,3598,NaN
21,1,2,13823002,39797215,1660717589,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467480001,b00286467480001,b00286467480001,NaN
22,1,2,13823003,39797218,1660717589,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467480001,b00286467480001,b00286467480001,NaN
23,1,2,13823004,39797222,1660717590,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286461114001,b00286461114001,b00286461114001,NaN
24,1,2,13823006,39797227,1660717591,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286461114001,b00286461114001,b00286461114001,NaN
25,1,2,13822880,39796673,1660717377,2,39796673,1930872842,10504822377,NaN,...,NaN,NaN,NaN,0,0,0,3922,3922,750022,NaN
26,1,2,13822935,39796913,1660717479,2,39796913,1930872842,1065433429,NaN,...,NaN,NaN,NaN,0,0,0,3574,3574,750014,NaN
27,1,2,13822953,39797013,1660717479,2,0,377014282,b00286467577001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
28,1,2,13822954,39797016,1660717480,2,0,377014282,b00286467577001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822988,39797162,1660717553,2,0,1187598346,158,3llinestore,...,NaN,NaN,NaN,0,0,0,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,NaN
2,1,2,13822926,39796868,1660717466,2,39796868,1930872842,10569139726,NaN,...,NaN,NaN,NaN,0,0,0,3538,3538,750012,NaN
3,1,2,13822948,39796991,1660717466,2,0,175687690,b00286467597001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,2,13822949,39796994,1660717466,2,0,175687690,b00286467597001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
5,1,2,13823013,39797248,1660717619,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466107001,b0022466107001,b0022466107001,NaN
6,1,2,13823014,39797251,1660717619,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0022466107001,b0022466107001,b0022466107001,NaN
7,1,2,13822991,39797175,1660717563,2,0,169396234,711,ralphonse,...,NaN,NaN,NaN,0,0,0,708,708,708,NaN
8,1,2,13822995,39797184,1660717573,2,39797184,1930872842,1065508564,NaN,...,NaN,NaN,NaN,0,0,0,2030,750055,2030,NaN
9,1,1,9191402,39797255,1660717625,2,0,0,750055,NaN,...,NaN,NaN,NaN,0,0,0,3272,3272,3272,NaN
10,1,2,13823015,39797258,1660717626,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467578001,b00286467578001,b00286467578001,NaN
11,1,2,13823016,39797261,1660717626,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467578001,b00286467578001,b00286467578001,NaN
12,1,2,13822997,39797189,1660717577,2,0,-1491482614,730,sreyan,...,NaN,NaN,NaN,0,0,0,750,750,750,NaN
13,1,2,13823005,39797224,1660717590,2,0,1041877002,877,CManuel,...,NaN,NaN,NaN,0,0,0,771,771,771,NaN
14,1,2,13822998,39797199,1660717581,2,39797199,1930872842,10525792810,NaN,...,NaN,NaN,NaN,0,0,0,2030,750056,2030,NaN
15,1,1,9191404,39797270,1660717635,2,0,0,750056,NaN,...,NaN,NaN,NaN,0,0,0,3561,3561,3561,NaN
16,1,2,13823019,39797273,1660717636,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
17,1,2,13823020,39797276,1660717637,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
18,1,2,13822896,39796737,1660717386,2,39796737,1930872842,10552230312,NaN,...,NaN,NaN,NaN,0,0,0,3935,3935,750015,NaN
19,1,2,13822924,39796863,1660717387,3,0,1197950474,b0038665756001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
20,1,2,13822925,39796866,1660717387,3,0,1197950474,b0038665756001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
21,1,2,13823000,39797205,1660717587,2,39797205,1930872842,1044492207,NaN,...,NaN,NaN,NaN,0,0,0,2030,750053,2030,NaN
22,1,1,9191407,39797286,1660717640,2,0,0,750053,NaN,...,NaN,NaN,NaN,0,0,0,3156,3156,3156,NaN
23,1,2,13823024,39797293,1660717641,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
24,1,2,13823025,39797296,1660717641,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467397001,b00286467397001,b00286467397001,NaN
25,1,2,13823001,39797212,1660717588,2,0,-1340487670,964,zzash,...,NaN,NaN,NaN,0,0,0,2578,2578,2578,NaN
26,1,2,13823004,39797223,1660717591,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
27,1,2,13823006,39797228,1660717591,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
28,1,2,13823011,39797242,1660717609,2,0,1545193482,852,crewcontrol2,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
29,1,2,13823012,39797244,1660717610,2,0,-1256601590,883,NaN,...,NaN,NaN,NaN,0,0,0,760,760,760,NaN
30,1,2,13823013,39797249,1660717619,2,39797244,-1256601590,b0022466107001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
31,1,2,13823014,39797252,1660717619,2,39797244,-1256601590,b0022466107001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13823007,39797232,1660717592,2,39797232,1930872842,10555560998,NaN,...,NaN,NaN,NaN,0,0,0,2030,750040,2030,NaN
2,1,1,9191410,39797309,1660717660,2,0,0,750040,NaN,...,NaN,NaN,NaN,0,0,0,3644,3644,3644,NaN
3,1,2,13823030,39797316,1660717662,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665750001,b0038665750001,b0038665750001,NaN
4,1,2,13823031,39797319,1660717662,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665750001,b0038665750001,b0038665750001,NaN
5,1,1,9191390,39797027,1660717496,2,0,1215875082,860,melgali,...,NaN,NaN,NaN,0,0,0,05[024526789]XXXXXXX,05[024526789]XXXXXXX,05[024526789]XXXXXXX,NaN
6,1,2,13822965,39797064,1660717506,2,0,1215875082,b00286467507001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
7,1,2,13822966,39797067,1660717506,2,0,1215875082,b00286467507001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
8,1,2,13823008,39797235,1660717593,2,0,538494986,995,NaN,...,NaN,NaN,NaN,0,0,0,289,289,289,NaN
9,1,2,13823023,39797288,1660717641,2,0,622381066,929,sdeshmukh,...,NaN,NaN,NaN,0,0,0,311,1.05[02456789]XXXXXXX,311,NaN
10,1,2,13823029,39797312,1660717660,2,39797312,1930872842,10543015653,NaN,...,NaN,NaN,NaN,0,0,0,852,999,852,NaN
11,1,2,13822947,39796982,1660717517,2,39796982,-2113641462,01000682489,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,75165,NaN
12,1,2,13822971,39797090,1660717517,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
13,1,2,13822972,39797093,1660717517,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
14,1,2,13823022,39797282,1660717639,2,39797282,1930872842,10566869404,NaN,...,NaN,NaN,NaN,0,0,0,953,953,953,NaN
15,1,2,13823017,39797264,1660717628,2,0,1316603914,395,alpha.reception,...,NaN,NaN,NaN,0,0,0,389,389,389,NaN
16,1,1,9191414,39797343,1660717685,2,0,0,750563,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,3570,NaN
17,1,2,13822854,39796567,1660717325,2,39796567,1930872842,10507478963,NaN,...,NaN,NaN,NaN,0,0,0,3562,3562,750023,NaN
18,1,2,13822881,39796678,1660717325,2,0,645449738,b00286467382001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
19,1,2,13822882,39796681,1660717325,2,0,645449738,b00286467382001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
20,1,2,13823009,39797237,1660717594,2,39797237,1930872842,1065189090,NaN,...,NaN,NaN,NaN,0,0,0,2030,750080,2030,NaN
21,1,2,13822957,39797024,1660717533,2,39797024,1930872842,1065021554,NaN,...,NaN,NaN,NaN,0,0,0,3399,3399,750051,NaN
22,1,2,13822978,39797119,1660717533,2,0,746113034,b00286467648001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
23,1,2,13822979,39797122,1660717533,2,0,746113034,b00286467648001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
24,1,2,13823041,39797360,1660717699,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286260698001,b00286260698001,b00286260698001,NaN
25,1,2,13823041,39797361,1660717699,2,0,-484849654,b00286260698001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
26,1,2,13823042,39797363,1660717699,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286260698001,b00286260698001,b00286260698001,NaN
27,1,1,9191415,39797350,1660717689,2,0,0,750566,NaN,...,NaN,NaN,NaN,0,0,0,204,204,204,NaN
28,1,2,13823018,39797266,1660717634,2,39797266,1930872842,1065263000,NaN,...,NaN,NaN,NaN,0,0,0,2031,750714,2031,NaN
29,1,2,13823043,39797367,1660717707,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286461114001,b00286461114001,b00286461114001,NaN
30,1,2,13823044,39797370,1660717708,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286461114001,b00286461114001,b00286461114001,NaN
31,1,2,13823032,39797323,1660717664,2,39797323,1930872842,1065355655,NaN,...,NaN,NaN,NaN,0,0,0,2030,750044,2030,NaN
32,1,2,13823045,39797373,1660717710,2,0,588892170,833,psubburathnam,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
33,1,2,13822951,39796999,1660717505,2,39796999,1930872842,1043958259,NaN,...,NaN,NaN,NaN,0,0,0,3586,3586,750010,NaN
34,1,2,13822964,39797061,1660717506,2,0,930662410,b00286467729001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
35,1,2,13822967,39797070,1660717506,2,0,930662410,b00286467729001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
36,1,2,13822846,39796532,1660717314,2,39796532,1930872842,10522758228,NaN,...,NaN,NaN,NaN,0,0,0,3502,3502,750063,NaN
37,1,2,13822878,39796665,1660717315,2,0,829999114,b00286467763001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
38,1,2,13822879,39796668,1660717315,2,0,829999114,b00286467763001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
39,1,2,13823027,39797301,1660717649,2,39797301,1930872842,1065694969,NaN,...,NaN,NaN,NaN,0,0,0,2030,750045,2030,NaN
40,1,1,9191417,39797377,1660717711,2,0,0,750045,NaN,...,NaN,NaN,NaN,0,0,0,3922,3922,3922,NaN
41,1,2,13823048,39797386,1660717713,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
42,1,2,13823049,39797389,1660717714,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467715001,b00286467715001,b00286467715001,NaN
43,1,2,13822854,39796567,1660717325,2,39796567,1930872842,10507478963,NaN,...,NaN,NaN,NaN,0,0,0,2037,750565,2037,NaN
44,1,2,13822887,39796703,1660717359,2,39796703,1930872842,10567600224,NaN,...,NaN,NaN,NaN,0,0,0,3550,3550,750021,NaN
45,1,2,13822913,39796813,1660717360,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
46,1,2,13822914,39796816,1660717360,2,0,427345930,b00286467596001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13822970,39797080,1660717557,2,39797080,1930872842,1042512208,NaN,...,NaN,NaN,NaN,0,0,0,3182,3182,750052,NaN
2,1,2,13822989,39797170,1660717558,2,0,209242122,b00286467444001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,2,13822990,39797173,1660717558,2,0,209242122,b00286467444001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,2,13823033,39797326,1660717672,2,0,1545193482,852,crewcontrol2,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
5,1,2,13822887,39796703,1660717359,2,39796703,1930872842,10567600224,NaN,...,NaN,NaN,NaN,0,0,0,2037,750581,2037,NaN
6,1,2,13822970,39797080,1660717557,2,39797080,1930872842,1042512208,NaN,...,NaN,NaN,NaN,0,0,0,2037,750582,2037,NaN
7,1,2,13822999,39797202,1660717584,2,0,924370954,224,lhasni,...,NaN,NaN,NaN,0,0,0,726,726,726,NaN
8,1,2,13823035,39797331,1660717676,2,39797331,-60471798,01157904887,NaN,...,NaN,NaN,NaN,0,0,0,2033,75163,2033,NaN
9,1,1,9191419,39797410,1660717727,2,0,0,75163,NaN,...,NaN,NaN,NaN,0,0,0,3538,3538,3538,NaN
10,1,2,13823055,39797413,1660717729,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
11,1,2,13823056,39797416,1660717729,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467597001,b00286467597001,b00286467597001,NaN
12,1,2,13823028,39797311,1660717660,2,0,-904280054,823,atahboub,...,NaN,NaN,NaN,0,0,0,2571,2571,2571,NaN
13,1,2,13823034,39797328,1660717674,2,39797328,1930872842,10503473463,NaN,...,NaN,NaN,NaN,0,0,0,2030,750047,2030,NaN
14,1,1,9191421,39797422,1660717735,2,0,0,750047,NaN,...,NaN,NaN,NaN,0,0,0,3574,3574,3574,NaN
15,1,2,13823058,39797425,1660717736,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
16,1,2,13823059,39797428,1660717737,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467577001,b00286467577001,b00286467577001,NaN
17,1,2,13823051,39797395,1660717717,2,0,-1944467446,750,NaN,...,NaN,NaN,NaN,0,0,0,875,875,875,NaN
18,1,2,13823039,39797352,1660717693,2,39797352,1930872842,10551459982,NaN,...,NaN,NaN,NaN,0,0,0,2030,750048,2030,NaN
19,1,1,9191422,39797432,1660717740,2,0,0,750048,NaN,...,NaN,NaN,NaN,0,0,0,3935,3935,3935,NaN
20,1,2,13823061,39797438,1660717741,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665756001,b0038665756001,b0038665756001,NaN
21,1,2,13823062,39797441,1660717742,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038665756001,b0038665756001,b0038665756001,NaN
22,1,2,13823052,39797401,1660717722,2,39797401,1930872842,10523034045,NaN,...,NaN,NaN,NaN,0,0,0,2031,750715,2031,NaN
23,1,2,13823036,39797341,1660717685,2,0,1316603914,395,alpha.reception,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
24,1,2,13822992,39797177,1660717565,2,39797177,1930872842,100918450955379,NaN,...,NaN,NaN,NaN,0,0,0,834,834,834,NaN
25,1,2,13822998,39797199,1660717636,2,39797199,1930872842,10525792810,NaN,...,NaN,NaN,NaN,0,0,0,3561,3561,750056,NaN
26,1,2,13823019,39797274,1660717637,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
27,1,2,13823020,39797277,1660717637,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
28,1,1,9191423,39797451,1660717760,2,0,0,750580,NaN,...,NaN,NaN,NaN,0,0,0,204,204,204,NaN
29,1,2,13823067,39797455,1660717762,2,0,-954611702,947,ashan,...,NaN,NaN,NaN,0,0,0,999,999,999,NaN
30,1,2,13823064,39797447,1660717759,2,0,-635844598,702,receptionent,...,NaN,NaN,NaN,0,0,0,878,878,878,NaN
31,1,2,13823053,39797404,1660717723,2,39797404,1930872842,1065355655,NaN,...,NaN,NaN,NaN,0,0,0,2030,750035,2030,NaN
32,1,1,9191426,39797464,1660717766,2,0,0,750035,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,3564,NaN
33,1,2,13823069,39797477,1660717767,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
34,1,2,13823050,39797392,1660717715,2,39797392,1930872842,1043393155,NaN,...,NaN,NaN,NaN,0,0,0,2030,750041,2030,NaN
35,1,1,9191427,39797467,1660717766,2,0,0,750041,NaN,...,NaN,NaN,NaN,0,0,0,3566,3566,3566,NaN
36,1,2,13823070,39797480,1660717767,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286465019001,b00286465019001,b00286465019001,NaN
37,1,2,13823071,39797484,1660717768,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN
38,1,2,13823072,39797487,1660717768,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286460281001,b00286460281001,b00286460281001,NaN
39,1,2,13823010,39797240,1660717603,2,0,1746454538,925,mdiab,...,NaN,NaN,NaN,0,0,0,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,NaN
40,1,2,13823057,39797419,1660717729,2,0,1545193482,852,crewcontrol2,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
41,1,2,13823068,39797460,1660717765,2,0,-954611702,947,ashan,...,NaN,NaN,NaN,0,0,0,938,938,938,NaN
42,1,1,9191429,39797496,1660717776,2,0,0,915564,NaN,...,NaN,NaN,NaN,0,0,0,4101,4101,4101,NaN
43,1,2,13823073,39797491,1660717770,2,0,1159251978,749,NaN,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13823047,39797382,1660717713,2,0,588892170,833,psubburathnam,...,NaN,NaN,NaN,0,0,0,910,910,910,NaN
2,1,2,13823066,39797453,1660717761,2,0,1444464650,311,atahboub,...,NaN,NaN,NaN,0,0,0,702,702,702,NaN
3,1,2,13823046,39797379,1660717712,2,39797379,1930872842,1065263000,NaN,...,NaN,NaN,NaN,0,0,0,2030,750049,2030,NaN
4,1,1,9191430,39797505,1660717787,2,0,0,750049,NaN,...,NaN,NaN,NaN,0,0,0,3562,3562,3562,NaN
5,1,2,13823065,39797449,1660717760,2,0,924370954,224,lhasni,...,NaN,NaN,NaN,0,0,0,322,322,322,NaN
6,1,2,13823078,39797508,1660717788,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467382001,b00286467382001,b00286467382001,NaN
7,1,2,13823079,39797511,1660717789,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467382001,b00286467382001,b00286467382001,NaN
8,1,2,13823074,39797494,1660717771,2,0,2121910282,393,Maha.Jammoul,...,NaN,NaN,NaN,0,0,0,387,387,387,NaN
9,1,2,13823076,39797500,1660717781,2,0,-954611702,947,ashan,...,NaN,NaN,NaN,0,0,0,720,720,720,NaN
10,1,2,13822898,39796744,1660717382,2,39796744,187353098,*5CozmoOman,NaN,...,NaN,NaN,NaN,0,0,0,3211,3211,750016,NaN
11,1,2,13822922,39796853,1660717383,2,0,528009226,b00286467606001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
12,1,2,13822923,39796856,1660717383,2,0,528009226,b00286467606001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
13,1,2,13822995,39797184,1660717626,2,39797184,1930872842,1065508564,NaN,...,NaN,NaN,NaN,0,0,0,3272,3272,750055,NaN
14,1,2,13823015,39797259,1660717626,2,0,1249429514,b00286467578001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
15,1,2,13823016,39797262,1660717626,2,0,1249429514,b00286467578001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
16,1,2,13823082,39797521,1660717813,2,0,1097422090,2560,OCCFA,...,NaN,NaN,NaN,0,0,0,2593,2593,2593,NaN
17,1,2,13823021,39797279,1660717638,2,39797279,1930872842,1065141257,NaN,...,NaN,NaN,NaN,0,0,0,234,234,234,NaN
18,1,2,13823054,39797407,1660717725,2,39797407,1930872842,10553152326,NaN,...,NaN,NaN,NaN,0,0,0,742,742,742,NaN
19,1,2,13823026,39797299,1660717643,2,39797299,1930872842,10554186360,NaN,...,NaN,NaN,NaN,0,0,0,369,369,369,NaN
20,1,2,13823053,39797404,1660717767,2,39797404,1930872842,1065355655,NaN,...,NaN,NaN,NaN,0,0,0,3564,3564,750035,NaN
21,1,2,13823069,39797478,1660717767,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
22,1,2,13823070,39797481,1660717767,2,0,1148766218,b00286465019001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
23,1,2,13823053,39797404,1660717767,2,39797404,1930872842,1065355655,NaN,...,NaN,NaN,NaN,0,0,0,2037,750584,2037,NaN
24,1,2,13823075,39797498,1660717778,2,0,1746454538,925,mdiab,...,NaN,NaN,NaN,0,0,0,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,NaN
25,1,2,13823000,39797205,1660717641,2,39797205,1930872842,1044492207,NaN,...,NaN,NaN,NaN,0,0,0,3156,3156,750053,NaN
26,1,2,13823024,39797294,1660717641,2,0,326682634,b00286467397001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
27,1,2,13823025,39797297,1660717642,2,0,326682634,b00286467397001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,2,13823077,39797502,1660717781,2,0,1545193482,852,crewcontrol2,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
2,1,2,13823089,39797561,1660717842,2,0,-545667062,234,ashajahan,...,NaN,NaN,NaN,0,0,0,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,1.05[02456789]XXXXXXX,NaN
3,1,2,13823085,39797536,1660717820,2,0,935940106,115,NaN,...,NaN,NaN,NaN,0,0,0,899,999,899,NaN
4,1,2,13823086,39797547,1660717821,2,39797547,1930872842,1065340170,NaN,...,NaN,NaN,NaN,0,0,0,2030,750042,2030,NaN
5,1,1,9191431,39797579,1660717847,2,0,0,750042,NaN,...,NaN,NaN,NaN,0,0,0,3399,3399,3399,NaN
6,1,2,13823092,39797583,1660717848,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467648001,b00286467648001,b00286467648001,NaN
7,1,2,13823093,39797587,1660717848,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467648001,b00286467648001,b00286467648001,NaN
8,1,2,13823080,39797514,1660717789,2,39797514,1930872842,10528782711,NaN,...,NaN,NaN,NaN,0,0,0,2030,750039,2030,NaN
9,1,1,9191432,39797591,1660717851,2,0,0,750039,NaN,...,NaN,NaN,NaN,0,0,0,3586,3586,3586,NaN
10,1,2,13823094,39797594,1660717853,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
11,1,2,13823095,39797597,1660717853,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467729001,b00286467729001,b00286467729001,NaN
12,1,1,9191433,39797608,1660717857,2,0,0,750205,NaN,...,NaN,NaN,NaN,0,0,0,3841,3841,3841,NaN
13,1,1,9191434,39797613,1660717858,2,0,0,915565,NaN,...,NaN,NaN,NaN,0,0,0,4102,4102,4102,NaN
14,1,2,13823097,39797622,1660717860,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286457767001,b00286457767001,b00286457767001,NaN
15,1,2,13823098,39797625,1660717860,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286457767001,b00286457767001,b00286457767001,NaN
16,1,2,13823084,39797533,1660717817,2,39797533,1930872842,10528424130,NaN,...,NaN,NaN,NaN,0,0,0,2030,750043,2030,NaN
17,1,1,9191435,39797636,1660717864,2,0,0,750043,NaN,...,NaN,NaN,NaN,0,0,0,3502,3502,3502,NaN
18,1,2,13823100,39797641,1660717866,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467763001,b00286467763001,b00286467763001,NaN
19,1,2,13823101,39797644,1660717866,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467763001,b00286467763001,b00286467763001,NaN
20,1,2,13823087,39797550,1660717822,2,39797550,1930872842,10505047987,NaN,...,NaN,NaN,NaN,0,0,0,730,730,730,NaN
21,1,2,13823088,39797557,1660717824,2,0,-904280054,823,atahboub,...,NaN,NaN,NaN,0,0,0,2571,2571,2571,NaN
22,1,2,13823040,39797355,1660717703,2,0,494454794,892,isadesk,...,NaN,NaN,NaN,0,0,0,2578,2578,2578,NaN
23,1,2,13823043,39797368,1660717708,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
24,1,2,13823044,39797371,1660717708,2,0,1047090442,b00286461114001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
25,1,2,13823083,39797523,1660717814,2,39797523,1930872842,10504728114,NaN,...,NaN,NaN,NaN,0,0,0,2030,750079,2030,NaN
26,1,1,9191436,39797667,1660717881,2,0,0,750079,NaN,...,NaN,NaN,NaN,0,0,0,3550,3550,3550,NaN
27,1,2,13823107,39797670,1660717883,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
28,1,2,13823108,39797673,1660717883,2,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467596001,b00286467596001,b00286467596001,NaN
29,1,2,13823091,39797581,1660717848,2,0,-545667062,234,ashajahan,...,NaN,NaN,NaN,0,0,0,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,1.0[2-9]XXXXXXX,NaN
30,1,2,13823063,39797444,1660717745,2,0,-1944467446,750,NaN,...,NaN,NaN,NaN,0,0,0,875,875,875,NaN
31,1,2,13823096,39797610,1660717865,2,0,879318282,2574,arkarapetyan,...,NaN,NaN,NaN,0,0,0,940,999,940,NaN
32,1,2,13823110,39797695,1660717894,2,0,1931003914,742,musyed,...,NaN,NaN,NaN,0,0,0,747,747,747,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851622,51501573,1660716935,3,51501573,-770831862,139322006,NaN,...,NaN,NaN,NaN,0,0,0,2041,750437,2041,NaN
2,1,3,851623,51501579,1660716970,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467576001,b00286467576001,b00286467576001,NaN
3,1,3,851624,51501582,1660716970,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467576001,b00286467576001,b00286467576001,NaN
4,1,3,851621,51501569,1660716912,3,51501569,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,2035,750597,2035,NaN
5,1,3,851625,51501585,1660716976,3,51501585,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,2035,750598,2035,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851626,51501589,1660717002,3,51501589,2013540874,10603097310,NaN,...,NaN,NaN,NaN,0,0,0,515,515,515,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851628,51501598,1660717089,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664855001,b0038664855001,b0038664855001,NaN
2,1,3,851629,51501601,1660717090,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664855001,b0038664855001,b0038664855001,NaN
3,1,3,851630,51501604,1660717101,3,0,459889162,9516,NaN,...,NaN,NaN,NaN,0,0,0,9526,9526,9526,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851608,51501502,1660716632,3,51501502,2013540874,131643427518,NaN,...,NaN,NaN,NaN,0,0,0,3861,3861,750204,NaN
2,1,3,851610,51501511,1660716633,3,0,1999843850,b0038665790001,NaN,...,NaN,NaN,NaN,0,0,0,750996,750996,NaN,NaN
3,1,3,851611,51501514,1660716634,3,0,1999843850,b0038665790001,NaN,...,NaN,NaN,NaN,0,0,0,750996,750996,NaN,NaN
4,1,3,851632,51501611,1660717156,3,51501611,2019841290,195335998,NaN,...,NaN,NaN,NaN,0,0,0,20530,915561,20530,NaN
5,1,3,851631,51501609,1660717153,3,0,459889162,9516,NaN,...,NaN,NaN,NaN,0,0,0,9526,9526,9526,NaN
6,1,3,851627,51501595,1660717086,3,0,359225866,9506,mfsaeed,...,NaN,NaN,NaN,0,0,0,9523,9523,9523,NaN
7,1,3,851628,51501599,1660717090,3,0,661215754,b0038664855001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
8,1,3,851629,51501602,1660717090,3,0,661215754,b0038664855001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851633,51501618,1660717211,3,0,493443594,9526,hahsan,...,NaN,NaN,NaN,0,0,0,9510,9510,9510,NaN
2,1,3,851635,51501621,1660717217,3,0,493443594,9526,hahsan,...,NaN,NaN,NaN,0,0,0,9516,9516,9516,NaN
3,1,3,851636,51501623,1660717218,3,51501623,2026459146,10503348682,NaN,...,NaN,NaN,NaN,0,0,0,126,126,126,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851637,51501625,1660717223,3,51501625,2013540874,10603097310,NaN,...,NaN,NaN,NaN,0,0,0,515,515,515,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851638,51501632,1660717273,3,51501632,2019834890,799030300,NaN,...,NaN,NaN,NaN,0,0,0,2035,750552,2035,NaN
2,1,3,851643,51501646,1660717369,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467580001,b00286467580001,b00286467580001,NaN
3,1,3,851644,51501649,1660717369,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467580001,b00286467580001,b00286467580001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851642,51501640,1660717323,3,51501640,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,2035,750571,2035,NaN
2,1,3,851645,51501654,1660717379,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
3,1,3,851646,51501657,1660717379,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467568001,b00286467568001,b00286467568001,NaN
4,1,3,851641,51501638,1660717320,3,51501638,2013540874,10603097310,NaN,...,NaN,NaN,NaN,0,0,0,515,515,515,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851642,51501640,1660717378,3,51501640,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,3561,3561,750571,NaN
2,1,3,851645,51501655,1660717379,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,3,851646,51501658,1660717379,2,0,1014548490,b00286467568001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,3,851642,51501640,1660717378,3,51501640,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,2037,750570,2037,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851647,51501663,1660717568,3,51501663,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN
2,1,3,851648,51501665,1660717571,3,51501665,1930872842,10501743781,NaN,...,NaN,NaN,NaN,0,0,0,891,891,891,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851649,51501667,1660717644,3,51501667,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,2035,750563,2035,NaN
2,1,3,851650,51501673,1660717687,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467600001,b00286467600001,b00286467600001,NaN
3,1,3,851651,51501676,1660717687,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286467600001,b00286467600001,b00286467600001,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851653,51501683,1660717730,3,51501683,2019841290,177514437,NaN,...,NaN,NaN,NaN,0,0,0,20530,915564,20530,NaN
2,1,3,851656,51501698,1660717777,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286455518001,b00286455518001,b00286455518001,NaN
3,1,3,851657,51501701,1660717778,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286455518001,b00286455518001,b00286455518001,NaN
4,1,3,851652,51501679,1660717712,3,51501679,2013540874,13267560075,NaN,...,NaN,NaN,NaN,0,0,0,2014,750202,2014,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851653,51501683,1660717777,3,51501683,2019841290,177514437,NaN,...,NaN,NaN,NaN,0,0,0,4101,4101,915564,NaN
2,1,3,851656,51501699,1660717778,2,0,1164530954,b00286455518001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
3,1,3,851657,51501702,1660717778,2,0,1164530954,b00286455518001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
4,1,3,851659,51501713,1660717807,3,0,745101834,9505,armaan,...,NaN,NaN,NaN,0,0,0,802,802,802,NaN
5,1,3,851649,51501667,1660717686,3,51501667,2019834890,786874935,NaN,...,NaN,NaN,NaN,0,0,0,3570,3570,750563,NaN
6,1,3,851650,51501674,1660717687,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
7,1,3,851651,51501677,1660717687,2,0,611895306,b00286467600001,NaN,...,NaN,NaN,NaN,0,0,0,750995,750995,NaN,NaN
8,1,3,851660,51501715,1660717819,3,0,845763850,2573,asanosyan,...,NaN,NaN,NaN,0,0,0,985,985,985,NaN

,cdrRecordType,globalCallID_callManagerId,globalCallID_callId,origLegCallIdentifier,dateTimeOrigination,origNodeId,origSpan,origIpAddr,callingPartyNumber,callingPartyUnicodeLoginUserID,...,finalMobileCalledPartyNumber,origMobileDeviceName,destMobileDeviceName,origMobileCallDuration,destMobileCallDuration,mobileCallType,originalCalledPartyPattern,finalCalledPartyPattern,lastRedirectingPartyPattern,huntPilotPattern
0,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(128),...,VARCHAR(50),VARCHAR(129),VARCHAR(129),INTEGER,INTEGER,INTEGER,VARCHAR(50),VARCHAR(50),VARCHAR(50),VARCHAR(50)
1,1,3,851658,51501704,1660717798,3,51501704,2013540874,13267560075,NaN,...,NaN,NaN,NaN,0,0,0,2014,750205,2014,NaN
2,1,3,851655,51501691,1660717763,3,51501691,2019841290,194022935,NaN,...,NaN,NaN,NaN,0,0,0,20530,915565,20530,NaN
3,1,3,851662,51501743,1660717859,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664856001,b0038664856001,b0038664856001,NaN
4,1,3,851661,51501717,1660717828,3,0,359225866,9506,mfsaeed,...,NaN,NaN,NaN,0,0,0,823,823,823,NaN
5,1,3,851663,51501751,1660717860,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664856001,b0038664856001,b0038664856001,NaN
6,1,3,851664,51501754,1660717860,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286455514001,b00286455514001,b00286455514001,NaN
7,1,3,851665,51501759,1660717860,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b00286455514001,b00286455514001,b00286455514001,NaN
8,1,3,851662,51501744,1660717860,3,0,-1909247478,b0038664856001,NaN,...,NaN,NaN,NaN,0,0,0,750996,750996,NaN,NaN
9,1,3,851663,51501752,1660717860,3,0,-1909247478,b0038664856001,NaN,...,NaN,NaN,NaN,0,0,0,750996,750996,NaN,NaN
10,1,3,851668,51501776,1660717873,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664856001,b0038664856001,b0038664856001,NaN
11,1,3,851669,51501779,1660717873,3,0,0,NaN,NaN,...,NaN,NaN,NaN,0,0,0,b0038664856001,b0038664856001,b0038664856001,NaN
12,1,3,851654,51501687,1660717762,3,51501687,2019834890,10782946433,NaN,...,NaN,NaN,NaN,0,0,0,111,199,111,NaN